
<li>@Html.ActionLink("Pagina Home", "PaginaHome", "Home", new { Area = "" }, new { })</li>
<li>@Html.ActionLink("Contact", "Index", "Contact", new { Area = "" }, new { })</li>
<li>@Html.ActionLink("Contact Master", "ContactMaster", "Contact", new { Area = "" }, new { })</li>
<li>@Html.ActionLink("SubGroupOne", "Index", "Index", new { Area = "SubGroupOne" }, new { })</li>
<li>@Html.ActionLink("SubGroupTwo", "Index", "Index", new { Area = "SubGroupTwo" }, new { })</li>
<li>@Html.ActionLink("Test", "Index", "Index", new { Area = "Test" }, new { })</li>
<li>@Html.ActionLink("SubTest", "Index", "Index", new { Area = "SubTest" }, new { })</li>